<!DOCTYPE html>
<!--Notes
************************************
HTML Chart Presentation Template
v0.1
Uses chart.js libraries
Samuel Laroche - IITB
19/02/2018
************************************
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IITB: Costing chart</title>
    <link rel="stylesheet" type="text/css" href="/chart.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script src="/table.js"></script>
    <script src="/template.js"></script>
</head>
<body>
    <div class="header">
        <img id="top" class="ribbon" src="/top-right.png">
    </div>
    <div class="chartcontainer">
        <canvas id="chart"></canvas>
    </div>
    <div id="tab" class="tabcontainer"></div>
    <a href="/.." style="padding=10px">return</a>
    <div class="footer">
        <img id="bottom" class="ribbon" src="/buttom-left.png">
    </div>
    <script type="text/javascript">#script#</script>
</body>
</html>
